<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
	<body>
		<%- include('./partials/header') %>

		<main>
			<h1>h1 heading</h1>
			<section>
				<h2>Contacts API</h2>
				<p>Test contacts API calls</p>
				<ul>
					<li>
						<a
							href="/contacts"
							target="_blank"
							rel="noopener noreferrer"
							>View All Contacts JSON</a
						>
					</li>
					<li>
						<p>Contact list (limit 10)</p>
						<ol>
							<% contacts.forEach(contact => { %>
							<li>
								<a
									href="/contact/<%=contact._id %>"
									target="_blank"
									rel="noopener noreferrer"
									><%= contact.firstName %>
									<%= contact.lastName %>
								</a>
							</li>
							<% }); %>
						</ol>
					</li>
				</ul>
			</section>
		</main>

		<%- include('./partials/footer') %>
	</body>
</html>
