<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head') %>
	<body>
		<%- include('../partials/header') %>

		<main class="grid">
			<h1><%= title %></h1>
			<section class="flex-column card">
				<h2>Too Many Attempts</h2>
				<p>
					You've made too many login or registration attempts. Please
					wait before trying again.
				</p>
				<p><a href="/">Return to the home page</a></p>
			</section>

			<% if (isDevelopment && (error || stack)) { %>
			<section class="grid card">
				<details>
					<summary>Error details</summary>
					<% if (error) { %>
					<pre><%= error %></pre>
					<% } %>
					<% if (stack) { %>
					<pre><%= stack %></pre>
					<% } %>
				</details>
			</section>
			<% } %>
		</main>

		<%- include('../partials/footer') %>
	</body>
</html>
